.auth-loading {
  text-align: center;
  font-size: 1.5em;
  margin-top: 2em;
}

.app {
  margin: 0.5rem auto;
  width: 95%;
  @media (min-width: 42.5em) {
    width: 90%;
  }
}
.transactions-loading {
  margin: 1rem auto;
  width: 5rem;
  div > div {
    background-color: var(--color-lime);
  }
}
