.categories-chart {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    '. nav'
    'y-axis chart'
    'spacer x-axis';
  width: 100%;
  .nav {
    grid-area: nav;
    justify-self: center;
  }
  .y-axis {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 0.5rem;
    grid-area: y-axis;
    display: flex;
    flex-direction: column-reverse;
    .interval {
      text-align: right;
    }
    .spacer {
      height: 1.5rem; /* match the label height */
    }
  }
  .x-axis {
    grid-area: x-axis;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
  }
  .chart {
    grid-area: chart;
    .week-column {
      display: flex;
      flex-direction: column-reverse;
    }
    .bar-piece {
      width: 15px;
      @media (min-width: 42.5em) {
        width: 30px;
      }
      @media (min-width: 68.75em) {
        width: 40px;
      }
    }
  }
  .chart,
  .x-axis {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 0.5rem;
  }
  .spacer {
    grid-area: spacer;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
  }
}

.chart-bar-popover {
  padding: 1rem;
  .explanation {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 1rem;
  }
}
