.new-transaction {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (min-width: 68.75em) {
    width: 50%;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    @media (min-width: 42.5em) {
      font-size: 2rem;
    }
  }
  fieldset {
    margin-top: 1.3rem;
  }
  [data-form-name='amount'],
  [data-form-name='calculate'],
  [data-form-name='date'],
  [data-form-name='time'],
  [data-form-name='span'],
  [data-form-name='source'],
  [data-form-name='merchant'],
  [data-form-name='category'] {
    width: 48%;
  }
  [data-form-name='description'] {
    width: 100%;
    textarea {
      height: calc(
        2.25rem + 2px
      ); /* this is the height of form-control set by bootstrap */
    }
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    [type='submit'] {
      order: 1; /* move to the right */
      text-transform: capitalize;
    }
    button + button {
      margin-right: 0.7rem; /* create gap between buttons */
    }
  }
  label {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.3rem;
    text-align: right;
    width: 5em;
    @media (min-width: 42.5em) {
      margin-right: 0.5em;
    }
    @media (min-width: 68.75em) {
      margin-right: 1em;
    }
  }
  .input-group {
    float: left;
    width: 100%;
    @media (min-width: 42.5em) {
      width: calc(100% - 5.5em);
    }
    @media (min-width: 68.75em) {
      width: calc(100% - 6em);
    }
    .hint {
      cursor: help;
    }
  }
  .react-hint__content {
    font-size: 0.8rem;
  }
}
