.account-stats {
  width: 100%;
  margin: 2rem 0;
  @media (min-width: 68.75em) {
    width: 50%;
  }
  .tab-content {
    margin-top: 1rem;
  }
  .MuiTabs-indicator {
    background-color: var(--color-green);
  }
}
.stats {
  @media (min-width: 68.75em) {
    padding-left: 2rem;
  }
  .table {
    width: 100%;
    @media (min-width: 42.5em) {
      width: 50%;
    }
    @media (min-width: 68.75em) {
      width: 100%;
    }
  }
}

.stat {
  .table & > td {
    border-top: none;
  }
  .total {
    font-weight: bold;
  }
}

.carousel-indicators li {
  background-color: #000;
}

.carriedover-transactions {
  padding: 0.5rem 0.75rem;
}
