body {
	font-family: 'Roboto', sans-serif;
}

.main {
	@include clearfix();
	margin: .5rem auto;
	width: 95%;
	@media (min-width: 33.5em) {
		width: 90%;
	}
	.alert {
		margin-bottom: 0;
	}
}

.new-transaction {
	@include clearfix();
	width: 100%;
	@media (min-width: 53.125em) {
		float: left;
		width: 65%;
	}
	fieldset {
		margin-top: 2rem;
	}
	.form-group {
		@include clearfix();
	}
	label {
		float: left;
		margin-right: 1em;
		text-align: right;
		width: 5em;
	}
	.input-container {
		float: left;
		width: calc(100% - 6em);
	}
	.reset {
		margin-right: 1rem;
	}
	button[type=submit] {
		text-transform: capitalize;
	}
}

.stats {
	.table {
		width: 80%;
		@media (min-width: 33.5em) {
			width: 50%;
		}
		@media (min-width: 53.125em) {
			width: 100%;
		}
	}
}

.stat {
	.table & > td {
		border-top: none;
	}
	&[data-cat=total] {
		font-weight: bold;
	}
}

.account-stats {
	@media (min-width: 53.125em) {
		float: left;
		width: 35%;
		margin-top: 0;
		padding-left: 3rem;
	}
}

.transactions {
	clear: left;
}

.weekly {
	@include clearfix();
	border-bottom: 1px solid $gainsboro;
	&:last-of-type {
		border-bottom: none;
	}
	.action {
		.edit, .remove {
			cursor: pointer;
			&:hover {
				color: $light-blue;
			}
		}
		.remove {
			margin-left: 1em;
		}
	}
	.weekly-transactions {
		@media (min-width: 53.125em) {
			float: left;
			width: 65%;
		}
		thead {
			.secondary {
				display: none;
				@media (min-width: 33.5em) {
					display: table-cell;
				}
			}
			.addition {
				.two-col {
					flex-grow: 2;
				}
				@media (min-width: 33.5em) {
					display: none;
				}
				th {
					border: none;
				}
			}
		}
		tr {
			display: flex;
			flex-flow: row wrap;
			@media (min-width: 33.5em) {
				display: table-row;
			}
			&.active {
				td {
					background-color: darken($white-smoke, 3%) !important;
				}
			}
		}
		td,
		th {
			flex-basis: 25%;
			&.description {
				flex-grow: 2;
			}
		}
	}
	.summary {
		@media (min-width: 53.125em) {
			float: left;
			padding-left: 3rem;
			width: 35%;
		}
	}
}

.transaction {
	border-left: 5px solid $gainsboro;
	clear: left;
	cursor: pointer;
	@media (min-width: 33.5em) {
		cursor: default;
	}
	&[data-day=Mon] {
		border-left-color: $light-blue-100;
	}
	&[data-day=Tue] {
		border-left-color: $light-blue-300;
	}
	&[data-day=Wed] {
		border-left-color: $light-blue;
	}
	&[data-day=Thu] {
		border-left-color: $light-blue-600;
	}
	&[data-day=Fri] {
		border-left-color: $light-blue-700;
	}
	&[data-day=Sat] {
		border-left-color: $light-blue-800;
	}
	&[data-day=Sun] {
		border-left-color: $light-blue-900;
	}
	.day,
	.merchant,
	.amount,
	.source {
		border-top-width: 2px;
		@media (min-width: 33.5em) {
			border-top-width: 1px;
		}
	}
	.description,
	.category,
	.action {
		display: none;
	}
	&.active {
		.description,
		.category,
		.action {
			display: table-cell;
		}
	}
	@media (min-width: 33.5em) {
		.description,
		.category,
		.action {
			display: table-cell;
		}
		.action {
			min-width: 6rem;
		}
	}
}

.legend {
	border-radius: 3px;
	display: inline-block;
	margin-right: 1rem;
	width: 1rem;
	height: 2rem;
}

.badge,
.legend {
	[data-cat=dineout] & {
		background-color: $purple;
	}
	[data-cat=groceries] & {
		background-color: $deep-orange;
	}
	[data-cat=gas] & {
		background-color: $green;
	}
	[data-cat=household] & {
		background-color: $cyan;
	}
	[data-cat=entertainment] & {
		background-color: $light-green;
	}
	[data-cat=health] & {
		background-color: $red;
	}
	[data-cat=transportation] & {
		background-color: $amber;
	}
	[data-cat=shopping] & {
		background-color: $orange;
	}
	[data-cat=misc] & {
		background-color: $lime;
	}
}

.delete-dialog {
	// centering it
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
