@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './header.scss';
@import './app.scss';
@import './userMenu.scss';
@import './login.scss';
@import './form.scss';
@import './stats.scss';
@import './weeks.scss';
@import './week.scss';
@import './transaction.scss';
@import './deleteDialog.scss';
@import './notification.scss';
@import './categoriesChart.scss';

// consult https://materializecss.com/color.html
:root {
  --color-amber: #ffc107;
  --color-blue-grey: #607d8b;
  --color-cyan: #00bcd4;
  --color-deep-orange: #ff5722;
  --color-deep-purple: #673ab7;
  --color-gainsboro: #dcdcdc;
  --color-green: #4caf50;
  --color-indigo: #3f51b5;
  --color-light-blue: #03a9f4;
  --color-light-blue-100: #b3e5fc;
  --color-light-blue-300: #4fc3f7;
  --color-light-blue-600: #039be5;
  --color-light-blue-700: #0288d1;
  --color-light-blue-800: #0277bd;
  --color-light-blue-900: #01579b;
  --color-light-green: #8bc34a;
  --color-lime: #cddc39;
  --color-orange: #ff9800;
  --color-purple: #9c27b0;
  --color-red: #f44336;
  --color-teal: #009688;
  --color-white-smoke: #f5f5f5;
  --color-yellow: #ffeb3b;
  --color-grey: #9c9e9e;
}

.span-hint {
  color: #212529; // bootstrap body color
  cursor: help;
  margin-left: 0.5em;
}

.legend {
  border-radius: 3px;
  display: inline-block;
  margin-right: 0.7rem;
  width: 0.7rem;
  height: 1.3rem;
}

.badge,
.legend {
  [data-cat='dineout'] & {
    background-color: var(--color-purple);
  }
  [data-cat='groceries'] & {
    background-color: var(--color-deep-orange);
  }
  [data-cat='gas'] & {
    background-color: var(--color-green);
  }
  [data-cat='household'] & {
    background-color: var(--color-cyan);
  }
  [data-cat='entertainment'] & {
    background-color: var(--color-light-green);
  }
  [data-cat='health'] & {
    background-color: var(--color-red);
  }
  [data-cat='transportation'] & {
    background-color: var(--color-amber);
  }
  [data-cat='shopping'] & {
    background-color: var(--color-orange);
  }
  [data-cat='misc'] & {
    background-color: var(--color-lime);
  }
  [data-cat='donation'] & {
    background-color: var(--color-blue-grey);
  }
  [data-cat='residence'] & {
    background-color: var(--color-light-blue-700);
  }
  [data-cat='investment'] & {
    background-color: var(--color-teal);
  }
  [data-cat='utilities'] & {
    background-color: var(--color-light-blue);
  }
  [data-cat='mark'] & {
    background-color: var(--color-grey);
  }
  [data-cat='travel'] & {
    background-color: var(--color-indigo);
  }
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
