.weekly {
  @util clearfix();
  border-bottom: 1px solid var(--color-gainsboro);
  &:last-of-type {
    border-bottom: none;
  }
  .week-title {
    margin-top: 1rem;
  }
  [data-field='action'] {
    .edit,
    .remove {
      cursor: pointer;
      &:hover {
        color: var(--color-light-blue);
      }
    }
    .remove {
      margin-left: 1em;
    }
  }
  .weekly-transactions {
    @media (min-width: 68.75em) {
      float: left;
      width: 65%;
    }
    thead {
      th {
        border: none;
      }
      .secondary {
        display: none;
        @media (min-width: 42.5em) {
          display: table-cell;
        }
      }
      .addition {
        .two-col {
          flex-grow: 2;
        }
        @media (min-width: 42.5em) {
          display: none;
        }
      }
    }
    tr {
      display: flex;
      flex-flow: row wrap;
      @media (min-width: 42.5em) {
        display: table-row;
      }
      &.active {
        td {
          background-color: color(
            var(--color-white-smoke, shade(3%))
          ) !important;
        }
      }
    }
    td,
    th {
      flex-basis: 25%;
      padding: 0.5rem;
      overflow: hidden;
      @media (min-width: 42.5em) {
        padding: 0.75rem;
      }
    }
    th {
      font-size: 0.9rem;
    }
    [data-field='day'],
    [data-field='amount'] {
      flex-basis: 4.5rem;
      @media (min-width: 42.5em) {
        flex-basis: 25%;
      }
    }
    [data-field='merchant'],
    [data-field='source'] {
      flex-basis: calc((100% - 9rem) / 2);
      @media (min-width: 42.5em) {
        flex-basis: 25%;
      }
    }
    [data-field='description'] {
      flex-grow: 2;
    }
    [data-field='merchant'],
    [data-field='source'] {
      word-break: break-word;
    }
  }
  .week-stats {
    h6 {
      margin: 1rem 0 0.75rem;
      svg {
        margin-left: 0.3rem;
        margin-bottom: 0.2rem;
      }
    }
    .categories-stats {
      tbody {
        &.hide {
          display: none;
        }
      }
    }
  }
  .stat {
    .stat-label.carried-over {
      cursor: help;
    }
    &[data-cat='total'] .legend {
      display: none;
    }
  }
}
