// Colors

$purple: #9C27B0;
$deep-purple: #673AB7;
$gainsboro: #dcdcdc;
$indigo: #3F51B5;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$white-smoke: #f5f5f5;
