.main {
	@include clearfix();
	margin: 0 auto;
	width: 95%;
	@media (min-width: 30.625em) {
		width: 90%;
	}
}

.new-transaction {
	margin: 0 auto;
	width: 100%;
	@media (min-width: 30.625em) {
		width: 70%;
	}
}

.weekly {
	@include clearfix();
	.weekly-transactions {
		@media (min-width: 30.625em) {
			float: left;
			width: 65%;
		}
	}
	.summary {
		@media (min-width: 30.625em) {
			float: left;
			width: 35%;
		}
	}
}
