.new-transaction {
	.form-group {
		@include clearfix();
	}
	label {
		float: left;
		margin-right: 1em;
		text-align: right;
		width: 5em;
	}
	.input-container {
		float: left;
		width: calc(100% - 6em);
	}
	button[type="submit"] {
		margin-left: 6em;
	}
}

.weekly {
	.action {
		.edit, .remove {
			cursor: pointer;
			&:hover {
				color: $light-blue;
			}
		}
		.remove {
			margin-left: 1em;
		}
	}
	.summary {
		@media (min-width: 33.5em) {
			padding-top: 2.5em;
			padding-left: 2em;
		}
	}
	.subtotal {
		font-size: 1.2em;
		.value {
			font-weight: bold;
		}
	}
	thead {
		display: none;
		@media (min-width: 33.5em) {
			display: table-header-group;
		}
	}
	tr {
		display: flex;
		flex-flow: row wrap;
		@media (min-width: 33.5em) {
			display: table-row;
		}
	}
	td {
		flex-basis: 25%;
		&.description {
			flex-grow: 2;
		}
	}

}

.transaction {
	cursor: pointer;
	@media (min-width: 33.5em) {
		cursor: default;
	}
	.day,
	.merchant,
	.amount,
	.source {
		border-top-width: 2px;
		@media (min-width: 33.5em) {
			border-top-width: 1px;
		}
	}
	.description,
	.category,
	.action {
		display: none;
	}
	&.active {
		.description,
		.category,
		.action {
			display: table-cell;
		}
	}
	@media (min-width: 33.5em) {
		.description,
		.category,
		.action {
			display: table-cell;
		}
	}
}

.badge {
	.Mon & {
		background-color: $purple;
	}
	.Tue & {
		background-color: $deep-purple;
	}
	.Wed & {
		background-color: $indigo;
	}
	.Thu & {
		background-color: $cyan;
	}
	.Fri & {
		background-color: $teal;
	}
	.Sat & {
		background-color: $green;
	}
	.Sun & {
		background-color: $light-green;
	}
}
