.new-transaction {
	.form-group {
		@include clearfix();
	}
	label {
		float: left;
		margin-right: 1em;
		text-align: right;
		width: 5em;
	}
	.input-container {
		float: left;
		width: calc(100% - 6em);
	}
	button[type="submit"] {
		margin-left: 6em;
	}
}

.weekly {
	.action {
		.edit, .remove {
			cursor: pointer;
			&:hover {
				color: $light-blue;
			}
		}
		.remove {
			margin-left: 1em;
		}
	}
	.summary {
		padding-top: 2.5em;
		padding-left: 2em;
	}
	.subtotal {
		font-size: 1.2em;
		.value {
			font-weight: bold;
		}
	}
}

.badge {
	.Mon & {
		background-color: $purple;
	}
	.Tue & {
		background-color: $deep-purple;
	}
	.Wed & {
		background-color: $indigo;
	}
	.Thu & {
		background-color: $cyan;
	}
	.Fri & {
		background-color: $teal;
	}
	.Sat & {
		background-color: $green;
	}
	.Sun & {
		background-color: $light-green;
	}
}
