.expense {
  .app-top {
    background-color: var(--color-grey-lighten-4);
    padding: 0.5rem 2.5%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media (min-width: 42.5em) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}
