.chart {
  display: grid;
  grid-template-columns: 38px 1fr;
  grid-template-areas:
    '. chart-top'
    'y-axis chart-body'
    'spacer x-axis';
  width: 100%;
  .chart-top {
    grid-area: chart-top;
  }
  .nav {
    justify-self: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
    button {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .y-axis {
    grid-area: y-axis;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    .interval {
      text-align: right;
    }
    .label {
      font-size: 0.8em;
      top: -0.75rem;
      position: relative;
    }
  }
  .x-axis {
    grid-area: x-axis;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .chart-body {
    grid-area: chart-body;
    align-self: end;
    .week-column {
      display: flex;
      flex-direction: column-reverse;
      cursor: pointer;
      &.has-popup-open,
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .grid-lines {
    grid-area: chart-body;
    .interval {
      border-top: 1px dotted rgba(0, 0, 0, 0.2);
    }
  }
  .spacer {
    grid-area: spacer;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
  }
}
