node_modules
dist
.publish
.env

# server side
data
doc
.travis/muffin
auth/*.json

.eslintcache
.terraform

cypress.env.json
cypress/videos/
cypress/logs/
cypress/screenshots/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# CocoaPods
/ios/Pods/

*.xcworkspace
