@import './Field.css';

.new-transaction {
  display: grid;
  justify-content: space-between;
  align-content: baseline;
  grid-template-columns: 48% 48%;
  row-gap: 1rem;
  .form-header {
    grid-column: span 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .form-modes {
    display: flex;
    column-gap: 0.5rem;
  }
  [data-form-name='memo'] {
    textarea {
      height: calc(
        2.25rem + 2px
      ); /* this is the height of form-control set by bootstrap */
    }
  }
  .actions {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    [type='submit'] {
      order: 1; /* move to the right */
      text-transform: capitalize;
    }
    button + button {
      margin-right: 0.7rem; /* create gap between buttons */
    }
  }
  .input-group {
    width: 100%;
    @media (min-width: 42.5em) {
      width: calc(100% - 5.5em);
    }
    @media (min-width: 68.75em) {
      width: calc(100% - 6em);
    }
    .hint {
      cursor: help;
    }
  }
  .react-hint__content {
    font-size: 0.8rem;
  }
}
