@import './Field.css';

.new-transaction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: baseline;
  .form-header {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
    @media (min-width: 42.5em) {
      font-size: 2rem;
    }
  }
  fieldset {
    margin-top: 1.3rem;
  }
  [data-form-name='amount'],
  [data-form-name='calculate'],
  [data-form-name='date'],
  [data-form-name='time'],
  [data-form-name='span'],
  [data-form-name='source'],
  [data-form-name='merchant'],
  [data-form-name='category'] {
    width: 48%;
  }
  [data-form-name='description'] {
    width: 100%;
    textarea {
      height: calc(
        2.25rem + 2px
      ); /* this is the height of form-control set by bootstrap */
    }
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    [type='submit'] {
      order: 1; /* move to the right */
      text-transform: capitalize;
    }
    button + button {
      margin-right: 0.7rem; /* create gap between buttons */
    }
  }
  .input-group {
    width: 100%;
    @media (min-width: 42.5em) {
      width: calc(100% - 5.5em);
    }
    @media (min-width: 68.75em) {
      width: calc(100% - 6em);
    }
    .hint {
      cursor: help;
    }
  }
  .react-hint__content {
    font-size: 0.8rem;
  }
  .type-selector {
    display: inline-block;
    vertical-align: text-top;
    font-size: 1.1rem;
    width: min-content;
    @media (min-width: 42.5em) {
      vertical-align: top;
    }
  }
}
