.cashflow-chart {
  .months-graph,
  .months-labels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 0.25rem;
    @media (min-width: 42.5em) {
      padding-left: 0.5rem;
    }
  }
  .cashflow-graph {
    display: grid;
    grid-template-areas: 'main';
    align-items: end;
  }
  .in-column {
    grid-area: main;
  }
  .out-column {
    grid-area: main;
    width: 1rem;
    margin: 0 auto; /* center the bar */
    @media (min-width: 42.5em) {
      width: 2rem;
    }
  }
  .in-column,
  .out-column {
    display: flex;
    flex-direction: column-reverse;
  }
  .in-column,
  .month-label {
    width: 1.5rem;
    @media (min-width: 42.5em) {
      width: 2.5rem;
    }
  }
  .month-label {
    font-size: 0.8em;
  }
}
