.categories-chart {
  .nav {
    justify-self: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
    button {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .weeks-columns,
  .weeks-labels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 0.25rem;
    @media (min-width: 42.5em) {
      padding-left: 0.5rem;
    }
  }
  .week-column,
  .week-label {
    width: 1.5rem;
    @media (min-width: 42.5em) {
      width: 2.5rem;
    }
  }
}

.chart-bar-popover {
  padding: 1rem;
  .explanation {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 1rem;
  }
}
