.account-stats {
  width: 100%;
  margin-top: 1rem;
  @media (min-width: 68.75em) {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .tab-content {
    margin-top: 1rem;
  }
  .MuiTabs-indicator {
    background: none;
  }
  .Mui-selected {
    background-color: var(--color-gray-300);
  }
  [role='tab'] {
    border-right: 2px solid var(--color-gray-300);
    border-bottom: 2px solid var(--color-gray-300);
  }
  [role='tab']:last-of-type {
    border-right: none;
  }
}
.stats {
  @media (min-width: 68.75em) {
    padding-left: 2rem;
  }
  .table {
    width: 100%;
    @media (min-width: 42.5em) {
      width: 50%;
    }
    @media (min-width: 68.75em) {
      width: 100%;
    }
  }
}

.stat {
  .table & > td {
    border-top: none;
  }
  .total {
    font-weight: bold;
  }
}

.carousel-indicators li {
  background-color: #000;
}

.carriedover-transactions {
  padding: 0.5rem 0.75rem;
}
