.transaction {
  clear: left;
  cursor: pointer;
  @media (min-width: 42.5em) {
    cursor: default;
  }
  [data-field='day'] {
    width: 3.5rem;
  }
  [data-field='action'] {
    width: 4rem;
  }
  [data-field='merchant'] {
    width: calc(100% - 3.5rem - 4.5rem - 4rem - 10px);
    word-break: break-word;
  }
  [data-field='synthetic-type'] {
    width: 10px;
    cursor: pointer;
    padding: 0;
  }
  [data-field='amount'] {
    color: white;
    width: 4.5rem;
    @media (min-width: 42.5em) {
      width: 7rem;
    }
  }

  [data-field='merchant'],
  [data-field='action'] {
    button {
      background-color: transparent;
      padding: 0;
      border: none;
      margin-left: 1em;
      &:hover {
        color: var(--color-light-blue);
      }
    }
  }
}
.synthetic-type-popover,
.notes-popover,
.date-popover,
.budget-span-popover,
.actions-popover,
.amount-popover {
  padding: 0.75rem;
  font-size: 0.9rem;
  h4 {
    font-size: 0.9em;
    margin-bottom: 0;
  }
}
.actions-popover {
  div {
    cursor: pointer;
    padding: 0.5rem;
    &:hover {
      background-color: var(--color-grey-lighten-4);
    }
  }
}
