.weekly {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-grey-lighten-2);
  &:last-of-type {
    border-bottom: none;
  }
}
.week-title {
  grid-area: title;
}
.weekly-transactions {
  margin: 0;
  tr {
    display: flex;
    flex-flow: row wrap;
    @media (min-width: 42.5em) {
      display: table-row;
    }
  }
  td,
  th {
    width: 25%;
    padding: 0.5rem;
    /* overflow: hidden;  -- not sure why this is needed */
    @media (min-width: 42.5em) {
      padding: 0.75rem;
    }
  }
}
.week-stats {
  grid-area: secondary;
  margin-bottom: 1rem;
  h6 {
    margin: 1rem 0 0.75rem;
    svg {
      margin-left: 0.3rem;
      margin-bottom: 0.2rem;
    }
  }
  .categories-stats {
    margin-top: 0.75rem;
    td {
      padding: 0.75rem;
    }
  }
  .stat {
    .stat-label {
      position: relative;
    }
    details {
      margin-left: 0.5rem;
      display: inline-block;
      .category-transactions {
        position: absolute;
        left: 2rem;
        margin-top: 0.5rem;
        z-index: 1;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 1rem 0.75rem 1rem 2rem;
        width: max-content;
        td {
          padding: 0.25rem;
        }
      }
      .carried-over {
        font-style: italic;
      }
    }
  }
}
