.auth-loading {
  text-align: center;
  font-size: 1.5em;
  margin-top: 2em;
}

.app-top {
  background-color: var(--color-grey-lighten-4);
  padding: 0.5rem 2.5%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas:
    'form'
    'stats';
  row-gap: 1rem;
  @media (min-width: 42.5em) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @media (min-width: 68.75em) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-template-areas: 'stats form';
  }
  .new-transaction {
    grid-area: form;
  }
  .account-stats {
    grid-area: stats;
  }
}

.app-bottom {
  width: 95%;
  margin: 0 auto 2em;
  @media (min-width: 42.5em) {
    width: 90%;
  }
}
