.auth-loading {
  text-align: center;
  font-size: 1.5em;
  margin-top: 2em;
}

.app-error {
  text-align: center;
  padding: 1rem;
}

.app-top {
  background-color: var(--color-grey-lighten-4);
  margin-bottom: 1rem;
  display: grid;
  grid-template-areas:
    'form'
    'stats';
  row-gap: 1rem;
  @media (min-width: 68.75em) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-template-areas: 'form stats';
  }
  .new-transaction {
    grid-area: form;
    margin: 0.5rem 2.5%;
    @media (min-width: 42.5em) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  .global-stats {
    grid-area: stats;
    margin: 0.5rem 2.5%;
    @media (min-width: 42.5em) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

.app-bottom {
  width: 95%;
  margin: 0 auto 2em;
  @media (min-width: 42.5em) {
    width: 90%;
  }
}
