.new-transaction {
  @util clearfix();
  width: 100%;
  @media (min-width: 68.75em) {
    float: left;
    width: 65%;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @media (min-width: 42.5em) {
      font-size: 2rem;
    }
  }
  fieldset {
    margin-top: 1.3rem;
  }
  .form-group {
    @util clearfix();
  }
  [data-form-name='amount'],
  [data-form-name='calculate'],
  [data-form-name='date'],
  [data-form-name='time'],
  [data-form-name='span'],
  [data-form-name='source'],
  [data-form-name='merchant'],
  [data-form-name='category'] {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  [data-form-name='calculate'],
  [data-form-name='category'],
  [data-form-name='time'],
  [data-form-name='span'] {
    margin-right: 0;
  }
  label {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.3rem;
    text-align: right;
    width: 5em;
    @media (max-width: 42.4em) {
      @util hide-visually;
    }
    @media (min-width: 42.5em) {
      margin-right: 0.5em;
    }
    @media (min-width: 68.75em) {
      margin-right: 1em;
    }
  }
  .input-group {
    float: left;
    width: 100%;
    @media (min-width: 42.5em) {
      width: calc(100% - 5.5em);
    }
    @media (min-width: 68.75em) {
      width: calc(100% - 6em);
    }
    .hint {
      cursor: help;
    }
  }
  [data-form-name='description'] textarea {
    height: calc(
      2.25rem + 2px
    ); /* this is the height of form-control set by bootstrap */
  }
  button + button {
    margin-right: 0.7rem;
  }
  button[type='submit'] {
    text-transform: capitalize;
  }
  .react-hint__content {
    font-size: 0.8rem;
  }
}
