.header {
  background-color: var(--color-green);
  width: 100%;
  h1 {
    color: var(--color-white-smoke);
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    margin: 0;
    padding: 0.25em 0;
  }
}
