.stats {
  @media (min-width: 68.75em) {
    float: left;
    padding-left: 2rem;
    width: 35%;
  }
  .table {
    width: 80%;
    @media (min-width: 42.5em) {
      width: 50%;
    }
    @media (min-width: 68.75em) {
      width: 100%;
    }
  }
  &.account-stats {
    margin-top: 2rem;
  }
  &.carousel {
    padding-bottom: 1.5rem; // carousel indicators is an ol with margin-bottom of 1rem (set in _reboot.scss)
  }
}

.stat {
  .table & > td {
    border-top: none;
  }
  &data-field='category' [data-cat='total'] {
    font-weight: bold;
  }
}

.carousel-indicators li {
  background-color: #000;
}
