@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
	--color-amber: #FFC107;
	--color-blue-grey: #607d8b;
	--color-cyan: #00BCD4;
	--color-deep-orange: #FF5722;
	--color-deep-purple: #673AB7;
	--color-gainsboro: #dcdcdc;
	--color-green: #4CAF50;
	--color-indigo: #3F51B5;
	--color-light-blue: #03A9F4;
	--color-light-blue-100: #B3E5FC;
	--color-light-blue-300: #4FC3F7;
	--color-light-blue-600: #039BE5;
	--color-light-blue-700: #0288D1;
	--color-light-blue-800: #0277BD;
	--color-light-blue-900: #01579B;
	--color-light-green: #8BC34A;
	--color-lime: #CDDC39;
	--color-orange: #FF9800;
	--color-purple: #9C27B0;
	--color-red: #F44336;
	--color-teal: #009688;
	--color-white-smoke: #f5f5f5;
	--color-yellow: #FFEB3B;
}

body {
	font-family: 'Roboto', sans-serif;
}

.main {
	.alert {
		margin-bottom: 0;
	}
}

.header {
	background-color: var(--color-green);
	width: 100%;
	h1 {
		color: var(--color-white-smoke);
		font-family: 'Shadows Into Light Two', cursive;
		text-align: center;
		margin: 0;
		padding: .25em 0;
	}
	.user {
		position: absolute;
		top: .5rem;
		right: 2.5%;
		@media (min-width: 33.5em) {
			right: 5%;
		}
		img {
			border-radius: 50%;
			cursor: pointer;
			width: 3em;
		}
		.profile {
			background-color: white;
			border-radius: 2px;
			box-shadow: 0 2px 10px rgba(0,0,0,.2);
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			width: max-content;
			top: 3.5em;
			right: 0;
		}
		li {
			padding: 1rem;
		}
		.logout {
			background-color: var(--color-white-smoke);
			border-top: 1px solid var(--color-gainsboro);
			cursor: pointer;
			&:hover {
				background-color: var(--color-gainsboro);
			}
		}
		&.profile-active .profile {
			display: block;
		}
	}
}

.login {
	padding-top: 5em;
	text-align: center;
	.btn {
		background-color: var(--color-light-blue-600);
		border-color: var(--color-light-blue-900);
		color: var(--color-white-smoke);
		font-size: 1.5em;
		padding: .5em 1em;
		&:hover {
			background-color: var(--color-light-blue-800);
		}
	}
}

.auth-loading {
	text-align: center;
	font-size: 1.5em;
	margin-top: 2em;
}

.app {
	margin: .5rem auto;
	width: 95%;
	@media (min-width: 33.5em) {
		width: 90%;
	}
}

.new-transaction {
	@util clearfix();
	width: 100%;
	@media (min-width: 53.125em) {
		float: left;
		width: 65%;
	}
	h2 {
		margin-bottom: 1rem;
	}
	fieldset {
		margin-top: 1.3rem;
	}
	.form-group {
		@util clearfix();
	}
	label {
		float: left;
		margin-right: 1em;
		text-align: right;
		width: 5em;
	}
	.input-container {
		float: left;
		width: calc(100% - 6em);
	}
	button + button {
		margin-right: .7rem;
	}
	button[type=submit] {
		text-transform: capitalize;
	}
}

.stats {
	.table {
		width: 80%;
		@media (min-width: 33.5em) {
			width: 50%;
		}
		@media (min-width: 53.125em) {
			width: 100%;
		}
	}
}

.stat {
	.table & > td {
		border-top: none;
	}
	&[data-cat=total] {
		font-weight: bold;
	}
}

.account-stats {
	@media (min-width: 53.125em) {
		float: left;
		width: 35%;
		margin-top: 0;
		padding-left: 2rem;
	}
}

.transactions {
	/* needed to clear float left form at wide screen */
	clear: left;
	margin-bottom: 2em;
	.show-more {
		text-align: right;
		@media (min-width: 53.125em) {
			text-align: left;
		}
	}
}

.weekly {
	@util clearfix();
	border-top: 1px solid var(--color-gainsboro);
	&:first-of-type {
		border-top: none;
	}
	.week-title {
		margin-top: 1rem;
	}
	.action {
		.edit, .remove {
			cursor: pointer;
			&:hover {
				color: var(--color-light-blue);
			}
		}
		.remove {
			margin-left: 1em;
		}
	}
	.weekly-transactions {
		@media (min-width: 53.125em) {
			float: left;
			width: 65%;
		}
		thead {
			th {
				border: none;
			}
			.secondary {
				display: none;
				@media (min-width: 33.5em) {
					display: table-cell;
				}
			}
			.addition {
				.two-col {
					flex-grow: 2;
				}
				@media (min-width: 33.5em) {
					display: none;
				}
			}
		}
		tr {
			display: flex;
			flex-flow: row wrap;
			@media (min-width: 33.5em) {
				display: table-row;
			}
			&.active {
				td {
					background-color: color(var(--color-white-smoke, shade(3%))) !important;
				}
			}
		}
		td,
		th {
			flex-basis: 25%;
			&.description {
				flex-grow: 2;
			}
		}
	}
	.summary {
		@media (min-width: 53.125em) {
			float: left;
			padding-left: 2rem;
			width: 35%;
		}
	}
}

.transaction {
	border-left: 5px solid var(--color-gainsboro);
	clear: left;
	cursor: pointer;
	@media (min-width: 33.5em) {
		cursor: default;
	}
	&[data-day=Mon] {
		border-left-color: var(--color-light-blue-100);
	}
	&[data-day=Tue] {
		border-left-color: var(--color-light-blue-300);
	}
	&[data-day=Wed] {
		border-left-color: var(--color-light-blue);
	}
	&[data-day=Thu] {
		border-left-color: var(--color-light-blue-600);
	}
	&[data-day=Fri] {
		border-left-color: var(--color-light-blue-700);
	}
	&[data-day=Sat] {
		border-left-color: var(--color-light-blue-800);
	}
	&[data-day=Sun] {
		border-left-color: var(--color-light-blue-900);
	}

	.amount {
		color: white;
	}

	.day,
	.merchant,
	.amount,
	.source {
		border-top-width: 2px;
		@media (min-width: 33.5em) {
			border-top-width: 1px;
		}
	}
	.description,
	.category,
	.action {
		display: none;
	}
	&.table-active {
		.description,
		.category,
		.action {
			display: table-cell;
		}
	}
	@media (min-width: 33.5em) {
		.description,
		.category,
		.action {
			display: table-cell;
		}
		.action {
			min-width: 6rem;
		}
	}
}

.legend {
	border-radius: 3px;
	display: inline-block;
	margin-right: .7rem;
	width: .7rem;
	height: 1.3rem;
}

.badge,
.legend {
	[data-cat=dineout] & {
		background-color: var(--color-purple);
	}
	[data-cat=groceries] & {
		background-color: var(--color-deep-orange);
	}
	[data-cat=gas] & {
		background-color: var(--color-green);
	}
	[data-cat=household] & {
		background-color: var(--color-cyan);
	}
	[data-cat=entertainment] & {
		background-color: var(--color-light-green);
	}
	[data-cat=health] & {
		background-color: var(--color-red);
	}
	[data-cat=transportation] & {
		background-color: var(--color-amber);
	}
	[data-cat=shopping] & {
		background-color: var(--color-orange);
	}
	[data-cat=misc] & {
		background-color: var(--color-lime);
	}
}

.delete-dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
