<h3>{{date 'MMM D' start}} - {{date 'MMM D' end}}</h3>
<table class="weekly-transactions table table-striped">
	<thead>
		<tr>
			<th>Day</th>
			<th>Merchant</th>
			<th>Amount</th>
			<th>Source</th>
			<th class="secondary">Desc.</th>
			<th class="secondary">Category</th>
			<th class="secondary"></th>
		</tr>
		<tr class="addition">
			<th class="two-col">Desc.</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
