@import './Week.css';

.transactions {
  position: relative;
  .filter {
    position: absolute;
    right: 0;
    width: 40%;
    top: -0.5rem;
    @media (min-width: 68.5em) {
      width: auto;
    }
    @media (min-width: 68.75em) {
      top: -2rem;
    }
  }
}

.transactions-loading {
  margin: 0 auto;
  width: 2rem;
}
