.weekly {
  border-bottom: 1px solid var(--color-gray-300);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:last-of-type {
    border-bottom: none;
  }
  .week-title {
    margin-top: 1rem;
    width: 100%;
  }
  [data-field='action'] {
    .edit,
    .remove {
      cursor: pointer;
      &:hover {
        color: var(--color-light-blue);
      }
    }
    .remove {
      margin-left: 1em;
    }
  }
  .weekly-transactions {
    height: 100%; /* prevent height from being stretched by flexbox */
    @media (min-width: 68.75em) {
      width: 65%;
    }
    thead {
      th {
        border-bottom-width: 0;
        @media (min-width: 42.5em) {
          border-bottom-width: 1px;
        }
      }
      .secondary {
        display: none;
        @media (min-width: 42.5em) {
          display: table-cell;
        }
      }
      .addition {
        .two-col {
          flex-grow: 2;
        }
        @media (min-width: 42.5em) {
          display: none;
        }
      }
    }
    tr {
      display: flex;
      flex-flow: row wrap;
      @media (min-width: 42.5em) {
        display: table-row;
      }
    }
    td,
    th {
      flex-basis: 25%;
      padding: 0.5rem;
      overflow: hidden;
      @media (min-width: 42.5em) {
        padding: 0.75rem;
      }
    }
    th {
      font-size: 0.9rem;
    }
    [data-field='day'],
    [data-field='amount'] {
      flex-basis: 4.5rem;
      @media (min-width: 42.5em) {
        flex-basis: 25%;
      }
    }
    [data-field='merchant'],
    [data-field='source'] {
      flex-basis: calc((100% - 9rem) / 2);
      @media (min-width: 42.5em) {
        flex-basis: 25%;
      }
    }
    [data-field='description'] {
      flex-grow: 2;
    }
    [data-field='merchant'],
    [data-field='source'] {
      word-break: break-word;
    }
  }
  .week-stats {
    margin-bottom: 1rem;
    width: 100%;
    @media (min-width: 68.75em) {
      width: 35%;
    }
    h6 {
      margin: 1rem 0 0.75rem;
      svg {
        margin-left: 0.3rem;
        margin-bottom: 0.2rem;
      }
    }
    .categories-stats {
      margin-top: 0.75rem;
      td {
        padding: 0.75rem;
      }
    }
  }
  .stat {
    details {
      margin-left: 0.5rem;
      display: inline-block;
      position: relative;
      ul {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        padding: 1rem 0.75rem 1rem 2rem;
        width: max-content;
      }
    }
    &[data-cat='total'] .legend {
      display: none;
    }
  }
}
