<div class="main">
	<form class="new-transaction form-horizontal">
		<h2>Add a new transaction</h2>
		<fieldset data-hook="field-container"></fieldset>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" type="submit">Add</button>
			</div>
		</div>
	</form>
	<div class="transactions"></div>
	<div class="summary"></div>
</div>
