<div class="main">
	<form class="new-transaction">
		<fieldset data-hook="field-container"></fieldset>
		<button type="submit">Add</button>
	</form>
	<div class="transactions"></div>
	<div class="summary"></div>
</div>