<div class="stats">
	<h2>Stats</h2>
	<h3>Weekly Averages</h3>
	<div class="average">
		{{#each averages}}
			<div>
				<label for="{{slug}}-avg">{{label}}</label>
				<span id="{{slug}}-avg">{{money amount}}</span>
			</div>
		{{/each}}
	</div>
</div>
