<div class="stats">
	<h2>Stats</h2>
	<h3>Weekly Averages</h3>
	<div class="average">
		<label for="dineout-avg">Dine Out</label>
		<span id="dineout-avg">{{money averages.dineout}}</span>
	</div>
</div>
